<!DOCTYPE html>
<html>
  <head>
    <title>My First JS Page</title>
    <link rel="stylesheet" href="calculator.css" />
  </head>
  <body>
    <h1 id="h1">Reposteria Dolce Vita</h1>

    <form action="/order" method="POST">
        <button type="submit" name="product" value="Relampago">Relampago</button>
    </form>
    <button id="Tar">Tartaleta</button>
    <button id="Pas">Pastelito</button>
    <button id="Bal">Baleada</button>


<div id="result">Result will appear here</div>
    <script src="script.js"></script>
  </body>
</html>
